name: develop-deploy

on:
  workflow_run:
    workflows: ["build-test-ci"]
    branches: [develop]
    types:
    - completed

jobs:
  deploy:
    if: ${{ (github.event.workflow_run.conclusion == 'success') || (github.event_name == 'workflow_dispatch') }}
    runs-on: ubuntu-latest
    steps:

    - name: "Check branch"
      run: echo "workflow_run branch is $GITHUB_REF_NAME"

    - name: Deploy
      run: echo "Deploying..."
