name: master-deploy

on:
  workflow_run:
    workflows: ["predeploy-tests"]
    branches: [master]
    types:
    - completed

jobs:
  deploy:
    if: ${{ (github.event.workflow_run.conclusion == 'success') || (github.event_name == 'workflow_dispatch') }}
    runs-on: ubuntu-latest
    steps:

    - name: "Check branch"
      run: echo "workflow_run executing from branch \'master\', which should match GITHUB_REF_NAME value of $GITHUB_REF_NAME"
